{% extends "global/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!-- FullCalendar CSS + JS -->
<link
  href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css"
  rel="stylesheet"
/>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>

<div class="btn-action">
  <h1>Bem vindo, <strong>{{user.nome}}</strong>! Gostaria de editar seu </h1>
  <a href="{% url "home:update_user" %}"> Perfil</a>
</div>

<div id="calendar" data-url-eventos="{% url 'home:eventos_json' %}"></div>

<script src="{% static "js/calender.js" %}" defer></script>

{% endblock %}
