{% extends "global/base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/update_user.css' %}" />
<h2>Atualizar Usuário</h2>
<div class="update_user">
  <div id="update-container" data-url-update="{% url "home:update_user" %}">
  <form id="update-form">
    <input
      type="text"
      name="nome"
      value="{{ user.nome }}"
      placeholder="Nome"
    /><br />
    <input
      type="email"
      name="email"
      value="{{ user.email }}"
      placeholder="Email"
    /><br />
    <input
      type="password"
      name="password"
      placeholder="Nova senha (opcional)"
    /><br />
    <button type="submit">Salvar alterações</button>
  </form>
</div>
</div>

<div class="logout">
  <form action="{% url "home:logout" %}" method="GET">
    <button type="submit">Click para SAIR da conta</button>
  </form>
</div>
<script src="{% static 'js/update_user.js' %}" defer></script>
{% endblock %}
